name: Sync File from Other Repo

on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:   # Allows manual triggering

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download the CV
        run: |
          # Replace the URL and path as needed
          curl -o files/CV_NIU_Xuezhi.pdf https://raw.githubusercontent.com/n7729697/CV_NIU_Xuezhi/main/CV_NIU_Xuezhi.pdf

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'  # or the version your project requires

      - name: Install Bundler
        run: gem install bundler
        
      - name: Install dependencies and build site
        run: |
          bundle install --jobs 4
          bundle exec jekyll build
          
      - name: Set remote URL with token
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }}.git

      - name: Commit and push changes if file updated
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if git diff --quiet --exit-code files/CV_NIU_Xuezhi.pdf; then
            echo "No changes detected."
          else
            git add files/CV_NIU_Xuezhi.pdf
            git commit -m "Update file from source repository"
            git push origin master
          fi
